doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= titulo
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css')
    block css
      link(rel='stylesheet' href='/css/estilos.css')
  body
    block content
